terratowns_endpoint="https://terratowns.cloud/api"
dune = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/dune"
    content_version = 1
}
spurs = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/spurs"
    content_version = 1
}
