user_uuid="9a92407d-a511-40ef-a6bf-44e615cf0e03"
bucket_name="qkezkpn500zgldr2ct8vt9epzjbkcnx4"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=3